body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

header{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-bottom: solid black 3px;
}

#logo{
    grid-column: 1/8;
    margin-left: 1.5em;
}

nav{
    grid-column: 10/13;
}

#navegador{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

main{
    grid-column: 4/10;
    background-color: pink;
}

#aside_izquierda{
    grid-column: 1/4;
    background-color: orange;
    border-right: solid black 3px;
}

#aside_derecha{
    grid-column: 10/13;
    background-color: red;
    border-left: solid black 3px;
}

footer{
    border-top:solid black 3px; 
    grid-column: 1/13;
    background-color: blue;
}
